.logo,h1,p,h3{
    color: white;
}
/* base styles */
html, body{
    height: 100%;
}
body{
    flex-direction: column;
}
main{
    flex-grow: 1;
    background:linear-gradient(rgba(37, 37, 37, 0.6) , rgba(37, 37, 37, 0.6)),  url("../media/photo-1573164713712-03790a178651.jpeg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style-type: none;
}
/* buttons */
button:hover{
    background-color: rgb(247, 109, 17);
}
#button-addon2:hover{
    background-color: rgb(247, 109, 17);
}
i{
    font-size: 48px;
}
/* flex items */
body,main,.header-container,.logo,ul,.main-content,footer,footer .container{
    display: flex;
}
/* header */
.header-container{
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
header button{
    background-color: rgb(70, 70, 70);
    border: none;
    color: white;
    padding: 5px 25px;
    font-size: 12px;
}
.logo{
    align-items: center;
}
.company-name{
    padding-left: 5px;
}
.company-name h1, p{
    margin: 0;
}
.company-name h1{
    padding-top: 5px;
}
.company-name p{
    font-size: 12px;
}
/* main content */
main{
    flex-direction: column;
}
.main-content{
    width: 90%;
    margin: 40px auto 40px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
}
.main-content h1, h3{
    font-weight: 500;
}
.main-content h3{
    font-size: 18px;
}
.main-content h3:first-of-type{
    line-height: 28px;
}
.main-content p{
    font-weight: 100;
    margin: 5% 0;
}
.input-group{
    width: 80%;
    margin: 0 auto;
}
/* footer */
footer {
    justify-content: center;
    align-items: center;
}
footer .container{
    width:80% ;
    text-align: center;
    flex-direction: column;
    margin: 30px 0;
}
figcaption{
    font-size: 11px;
    font-style: italic;
    margin: 3% 0;
}
blockquote p{
   color: rgb(247, 109, 17);
}
footer ul{
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-content{
        width: 50%;
        margin-top: 75px;
        margin-bottom: 75px;
        margin-left: 5%;
        text-align: left;
    }
    .input-group{
        margin: 0;
    }
    blockquote p{
        font-size: 24px;
    }
    figcaption{
        font-size: 14px;
       margin: 10px 0 20px 0;
    }
    footer ul{
        justify-content: space-evenly;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
    .main-content{
        width: 45%;
        padding-right: 75px;
    }
}